<h1><%= "#{@cat.name}"%> The Cats Information Page!</h1>

<table>
    <tr>
    <td>Id:</td>
    <td><%= @cat.id %></td>
  </tr>
  <tr>
    <td>Name:</td>
    <td><%= @cat.name %></td>
  </tr>
  <tr>
    <td>Birth Date:</td>
    <td><%= @cat.birth_date %></td>
  </tr>
  <tr>
    <td>Age:</td>
    <td><%= @cat.age %></td>
  </tr>
  <tr>
    <td>Sex:</td>
    <td><%= @cat.sex %></td>
  </tr>
  <tr>
    <td>Color:</td>
    <td><%= @cat.color %></td>
  </tr>
  <tr>
    <td>Description:</td>
    <td><%= @cat.description %></td>
  </tr>
  <tr>
    <td>Owner:</td>
    <td><%= @owner %></td>
  </tr>
  </table>
  <table>
    <tr>
        <td><strong>Cat Rental Requests</strong></td>
    </tr>
  <% if @catrentalrequests.empty? %>
    <tr>
      <td>This cat has no rental requests</td>
    </tr>
  <% else %>
    <tr>
      <td><strong>Requesting User</strong></td>
      <td><strong>Start Date</strong></td>
      <td><strong>End Date</strong></td>
      <td><strong>Status</strong></td>
    </tr>
      <% @catrentalrequests.each do |req| %>
      <tr> 
            <td>
                <li><%= req.requesting_username %></li>
            </td>
            <td>
                <li><%= req.start_date %></li>
            </td>
            <td>
                <li><%= req.end_date %></li>
            </td>
            <td>
                <li><%= req.status %></li>
            </td>
            <td>
        <% end %>
          <% if @owner == current_user.username %>
            <%= link_to("Approve", approve_catrentalrequest_url(req), method: :post) %>
            <%= link_to("Deny", deny_catrentalrequest_url(req), method: :post)%>
          <% end %>
        </td>
    </tr>
    <% end %>


</table>

<p><%= link_to("Back to Cats Index", cats_url) %>
<br>
<p><%= link_to("Edit Cat", edit_cat_url(@cat)) %>
<br>
<%= link_to("Create a Cat Rental Request", new_catrentalrequest_url, cats_id: @cat.id) %>